<header class="container d-flex align-items-center justify-content-between">
  <button
    class="btn hamburger_button p-0"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
  >
    <span class="material-symbols-outlined material-icons md-48"> menu </span>
  </button>

  <a href="/"><img src="/images/logo.png" alt="logo" class="logo" /></a>
</header>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header bg-primary">
    <h5 id="offcanvasRightLabel" class="text-white">Menu</h5>
    <button
      type="button"
      class="btn-close text-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <nav class="side_nav">
      <li>
        <a href="/" class="d-flex align-items-center"
          ><span class="material-symbols-outlined me-2"> dashboard </span
          ><span>Dashboard</span></a
        >
      </li>
      <li>
        <a href="/weekly_products" class="d-flex align-items-center"
          ><span class="material-symbols-outlined me-2"> receipt </span
          ><span>Weekly Product Sales</span></a
        >
      </li>
      <li>
        <a href="/sales_history" class="d-flex align-items-center"
          ><span class="material-symbols-outlined me-2"> history </span
          ><span>Sales History</span></a
        >
      </li>
      <li>
        <a href="/customer_ledger" class="d-flex align-items-center"
          ><span class="material-symbols-outlined me-2"> folder_shared </span
          ><span>Consumer Ledger</span></a
        >
      </li>
      <li>
        <a href="" class="d-flex align-items-center"
          ><span class="material-symbols-outlined me-2"> logout </span
          ><span>Logout</span></a
        >
      </li>
    </nav>
  </div>
</div>
