<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <body>
    <main>
      <div class="container-fluid px-0 mx-0">
        <%-include('./partials/nav')%>
        <div class="container">
          <div class="row">
            <div class="col col-sm-12">
              <nav class="dashboard_nav d-flex flex-column">
                <li class="dashboard_list">
                  <a href="/add_weekly_product_sales"
                    ><span class="material-symbols-outlined material-icons">
                      event
                    </span>
                    Add New Week Sales</a
                  >
                </li>
                <li class="dashboard_list">
                  <a
                    href=""
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    ><span class="material-symbols-outlined material-icons">
                      category
                    </span>
                    Add New Product</a
                  >
                </li>
                <li class="dashboard_list">
                  <a href=""
                    ><span class="material-symbols-outlined material-icons">
                      local_atm
                    </span>
                    Add New Expenses</a
                  >
                </li>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%-include('./partials/scripts')%>
  </body>
</html>
