<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <body>
    <main>
      <div class="container-fluid mx-0 px-0">
        <%-include('./partials/nav')%>

        <div class="container">
          <button
            onclick="window.history.back()"
            class="btn border border-2 border-light d-flex align-items-center back_button me-auto"
          >
            <span class="material-symbols-outlined me-2"> arrow_back_ios </span>
            <span>Go Back</span>
          </button>
          <div class="mt-5">
            <h5 class="bg-primary text-white p-1">
              <span>Week Sales</span>
            </h5>
            <div
              class="alert alert-warning d-flex align-items-center"
              role="alert"
            >
              <span class="material-symbols-outlined me-2"> report </span
              ><span>No Week Sales Available.</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%-include('./partials/scripts')%>
  </body>
</html>
