body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

:root {
  --emperor: #555353;
  --pale-leaf: #c3d9bf;
}

li {
  margin-bottom: 1rem;
  list-style-type: none;
  font-size: 1rem !important;
}

a {
  text-decoration: none !important;
}

header {
  border-bottom: 1px solid var(--pale-leaf);
}

.material-icons {
  font-size: 3rem !important;
}

.material-symbols-outlined {
  opacity: 0;
}

.material-symbols-opacity {
  opacity: 1;
}

.hamburger_button,
.back_button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.logo {
  height: 90px;
  width: 120px !important;
}

.add_btn {
  margin-left: auto !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.add_icon {
  margin-left: 1rem;
  color: white;
  background-color: #1d63dc;
  border-radius: 100%;
}

.add_icon:hover {
  font-size: 3.3rem !important;
  transition: all 0.2s ease-in-out;
}

.dashboard_nav {
  margin-top: 3rem;
  gap: 2rem;
}
.dashboard_list {
  margin-bottom: 1rem;
}

.dashboard_list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 3rem;
  width: 100% !important;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
  background: linear-gradient(to bottom, #2f7ae5, #3e88ef);
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.dashboard_list a:hover {
  color: white;
  background: linear-gradient(to bottom, #5e9ffa, #4686e0);
}

.top_nav {
  position: fixed !important;
  top: 10vh;
  right: 12px;
  left: 12px;
  padding: 1rem;
  background: #1d63dc;
}

.side_nav li {
  border-bottom: 1px solid #1d63dc;
}

.side_nav a {
  font-size: 1.2rem;
  font-weight: 500 !important;
}

table {
  overflow-x: scroll !important;
}

th,
td {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@media (min-width: 520px) {
  .td_description {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .td_description {
    width: 60%;
  }

  .container {
    max-width: 60% !important;
  }

  .top_nav {
    top: 13vh;
  }

  .side_nav a {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .top_nav {
    padding-left: 12.5rem;
  }
}
@media (min-width: 1024px) {
  .top_nav {
    padding-left: 18rem;
    left: 0;
    right: 0;
  }
}

@media (max-width: 420px) {
  .td_description {
    width: 40%;
  }

  .sub_container {
    padding: 0 1.5rem !important;
  }
}
