body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

:root {
  --emperor: #555353;
  --pale-leaf: #c3d9bf;
}

li {
  margin-bottom: 1rem;
  list-style-type: none;
  font-size: 1rem !important;
}

a {
  text-decoration: none !important;
}

header {
  border-bottom: 1px solid var(--pale-leaf);
}

.material-icons {
  font-size: 3rem !important;
}

.material-symbols-outlined {
  opacity: 0;
}

.material-symbols-opacity {
  opacity: 1;
}

.hamburger_button,
.back_button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.user_panel img {
  height: 2.5rem;
}

.user_profile {
  text-transform: capitalize;
}

.refresh_btn {
  padding: 2px 10px !important;
}

.z-index {
  z-index: 100;
}
.arrow_animation {
  animation-name: rotation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes rotation {
  from {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(340deg);
  }
  99.999% {
    transform: rotate(460deg);
  }
  to {
    transform: rotate(-40deg);
  }
}
.logo {
  height: 90px;
  width: 120px !important;
}

.add_btn {
  margin-left: auto !important;
  font-size: 1.2rem;
  font-weight: 600;
}

.index_flex {
  flex-direction: column;
}

.index_container {
  margin-top: 1rem;
  padding-bottom: 10rem;
  border: 1px solid rgb(247, 247, 247);
  background: rgb(247, 247, 247);
  border-radius: 1rem;
}

.dashboard_panel .card {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 4px;
  justify-content: space-between !important;
  align-items: center;
}

.dashboard_panel img {
  width: 3rem;
  height: 3rem;
}

.dashboard_panel,
.dashboard_nav {
  gap: 1rem;
}

.dashboard_list {
  margin: 0 auto;
  width: 100% !important;
  max-width: 350px;
}

.dashboard_list a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  background: linear-gradient(to bottom, #2f7ae5, #3e88ef);
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.dashboard_list a:hover {
  color: white;
  background: #0b6aee;
}

.top_nav {
  position: fixed !important;
  top: 10vh;
  right: 12px;
  left: 12px;
  padding: 1rem;
  background: #1d63dc;
}

.side_nav li {
  margin: 0.5rem 0 !important;
  padding: 0.5rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.side_nav li:active,
.side_nav li:hover,
.side_nav li:focus {
  background: #8eb8ff;
  color: #035df8 !important;
}

.side_nav a {
  font-size: 1.2rem;
  font-weight: 500 !important;
  width: 100% !important;
  height: 100% !important;
}

.side_nav a:hover,
.side_nav a:focus,
.side_nav a:active {
  color: #035df8 !important;
}

table {
  overflow-x: scroll !important;
}

th,
td {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.user_logo {
  height: 150px;
}
.user_form,
.page_detail_links {
  max-width: 350px;
  margin: 0 auto;
}

.user_form button[type="submit"] {
  width: 100%;
}

@media (min-width: 520px) {
  .td_description {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .td_description {
    width: 60%;
  }

  .container {
    max-width: 60% !important;
  }

  .top_nav {
    top: 13vh;
  }

  .side_nav a {
    font-size: 1rem;
  }

  .index_flex {
    flex-direction: row !important;
  }
}

@media (min-width: 992px) {
  .top_nav {
    padding-left: 12.5rem;
  }
  .dashboard_list a {
    padding: 0.5rem 2rem;
  }
}

@media (min-width: 1024px) {
  .top_nav {
    padding-left: 18rem;
    left: 0;
    right: 0;
  }
}

@media (max-width: 420px) {
  .td_description {
    width: 40%;
  }

  .sub_container {
    padding: 0 1.5rem !important;
  }
}
